<header>
  <nav>
    <ul class="main-nav">
      <li><a href="/CSE-134B-HW4-SSG/docs/index.html">Home</a></li>
      <li><a href="/CSE-134B-HW4-SSG/docs/about-me/index.html">About Me</a></li>
      <li><a href="/CSE-134B-HW4-SSG/docs/experience/index.html">Experience</a></li>
      <li><a href="/CSE-134B-HW4-SSG/docs/projects/index.html">Projects</a></li>
      <li><a href="/CSE-134B-HW4-SSG/docs/contact/index.html">Contact</a></li>
    </ul>
  </nav>
</header>
